<div class="menus">
  <div class="columns"></div>

  <div class="columns">

<% @recipes.each_with_index do |r,i| %>
	<% if i == 0 %>
	  <div class="column is-2 is-offset-1">
	<% else %>
	  <div class="column is-2">
	<% end %>
	    <div class="card js-recipe" data-type-id=<%="#{r.id}"%>>

		  <div class="card-image">
		    <figure class="image is-4by3">
		    
		    <a href="#" class="icon is-small is-pulled-right"><i class="fa fa-times"></i></a>
		      <a href=<%="/recipes/#{r.id}"%>><img class="js-image" src=<%="#{r.image_url}"%> alt=""></a>
		    </figure>
		  </div>
		  <div class="card-content">
		    <div class="media">
		      <!-- <div class="media-left">  
		      </div> -->
		      <div class="media-content">
		        <p class="title js-title is-5"><%= r.title %></p>
		        <p class="subtitle is-6">
				<!-- <a href="#" class="icon is-small is-pulled-left"><i class="fa fa-heart"></i></a> -->
		        <a class="js-origin" href=<%="#{r.source_url}"%> target="blank">[origin]</a></p>
		      </div>
		    </div>

		    <div class="content">
		      Ready in <strong class="js-minutes"><%= r.cook_time %></strong> minutes
		      <br>
		      Serves <strong class="js-servings"><%= r.servings %></strong> 
	    
		    </div>
		  </div>  
		</div>

	  </div>
<% end %>
</div>
<!-- <div class="columns">
	  <div class="column is-2 is-offset-2">
	  	<div class="container is-text-centered">
		  <a href="#" class=""><i class="fa fa-angle-double-right"></i><i class="fa fa-angle-double-left"></i></a>
		</div>
	  </div>
	  <div class="column is-2">
		<div class="container is-text-centered">
		  <a href="#" class=""><i class="fa fa-angle-double-left"></i><i class="fa fa-angle-double-right"></i></a>
		</div>
	  </div>
	  <div class="column is-2">
		<div class="container is-text-centered">
		  <a href="#" class=""><i class="fa fa-angle-double-left"></i><i class="fa fa-angle-double-right"></i></a>
		</div>
	  </div>
	  <div class="column is-2">
		<div class="container is-text-centered">
		  <a href="#" class=""><i class="fa fa-angle-double-left"></i><i class="fa fa-angle-double-right"></i></a>
		</div>
  </div>
</div> -->

