<header>
	<section class="hero is-success">
	<!-- Hero header: will stick at the top -->
	  <div class="hero-header">
	    <header class="header">
	      <div class="container">
	        <div class="header-left">
	          <!-- <a class="header-item" href="#">
	            <img src="images/bulma-white.png" alt="Logo">
	          </a> -->
	        </div>
	        <div class="header-right header-menu">
	          <span class="header-item">
	      		<a class="button is-success is-inverted is-outlined js-menu-manager">
			      <i class="fa fa-bookmark"></i>Menus</a>
			  </span>
			  <span class="header-item">
	            <a href="/list/" class="button is-success is-inverted is-outlined js-shopping">
	      		<i class="fa fa-shopping-cart"></i>&nbsp;Shopping List
	    		</a>
	          </span>
	        </div>
	      </div>
	    </header> 
	  </div>

	  <div class="hero-content">
	    <div class="container">
	      <h1 class="title is-1">
	        <strong>cook-up</strong>
	      </h1>
	      <h2 class="subtitle">
	        your weekly menu 
	      </h2>
	      <a id="make_menu" href="#" class="button is-warning is-large js-go"><i class="fa fa-cutlery"></i>&nbsp;Make a Menu&nbsp;<i class="fa fa-cutlery"></i></a>
	    </div>
	  </div>
	</section>
</header>

<%= render 'recipes' %>

<%= render 'modal_time' %>

<%= render 'modal_servings' %>

<%= render 'modal_diet' %>

<%= render 'modal_save' %>


<footer class="footer">

</footer>