<header class="header">
	<div class="container">
		<div class="header-left">
			<span class="header-item">
			  <h1 class="title">
			  <a href="/" class="button is-success is-outline"><i class="fa fa-home"></i></a>
			        <strong><a href="/">cook-up</a></strong>
			  </h1>
			</span>
		</div>
	</div>
</header>


<div class="container">
	<h2 class="title is-2">Shopping List</h2>
	<p><%= render 'recipes' %></p> 
</div>

<div class="container">
	<div class="columns">

		<div class="column is-4">
			<div class="box">
	<% @shopping_list.each do |k,v| %>
		<div><p class="is-5 js-sl-heading"><strong><%=k%></strong></p>
		
		<% v.each do |i| %>
		<p class="js-sl-item"><%="#{'%g' % i[:quantity]} #{i[:unit]} #{i[:ingredient][:name]}"%></p>

		<% end %></div>
	<% end %>
			</div>
		</div>


		<div class="column is-4">
			<div class="box">
	<% @shopping_list_condiments.each do |k,v| %>
		<div><p class="is-5 js-sl-heading"><strong><%=k%></strong></p>
		
		<% v.each do |i| %>
		<p class="js-sl-item"><%="#{'%g' % i[:quantity]} #{i[:unit]} #{i[:ingredient][:name]}"%></p>

		<% end %></div>
	<% end %>
			</div>
		</div>

		<div class="column is-4">
			<div class="box">
				<form action="/mail_shopping_list" method="POST">
				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
					<p class="control has-icon">
					  <input class="input" type="email" name="email" placeholder="Email">
					  <i class="fa fa-envelope"></i>
					</p>
					<input type="hidden" name="shopping_list" value="1234">
					<input type="hidden" name="menu" value=<%="#{@menu}"%>>
					<p class="control">
					  <button class="button is-success js-submit">
					    Send Shopping List
					  </button>
					</p>
				</form>
			</div>
		</div>


	</div>
</div>