<header class="header">
	<div class="container">
		<div class="header-left">
			<span class="header-item">
			  <h1 class="title">
			        <strong><a href="/">cook-up</a></strong>
			  </h1>
			</span>
		</div>
	</div>
</header>


<div class="container">
	<h2 class="title is-2">Shopping List</h2><%= render 'recipes' %>
</div>
<div class="container">
	<div class="columns">
		<div class="column is-4">
			<div class="box">
	<% @shopping_list.each do |k,v| %>
		<p class="is-5"><strong><%=k%></strong></p>
		
		<% v.each do |i| %>
		<p class="js-sl-item"><%="#{'%g' % i[:quantity]} #{i[:unit]} #{i[:ingredient][:name]}"%></p>

		<% end %>
	<% end %>
			</div>
		</div>
		<div class="column is-4">
			<div class="box">
	<% @shopping_list_condiments.each do |k,v| %>
		<p class="is-5"><strong><%=k%></strong></p>
		
		<% v.each do |i| %>
		<p><%="#{'%g' % i[:quantity]} #{i[:unit]} #{i[:ingredient][:name]}"%></p>

		<% end %>
	<% end %>
			</div>
		</div>
		<div class="column is-4">
			<div class="box">
				
			</div>
		</div>
	</div>
</div>