<header class="header">
	<div class="container">
	<div class="header-left">
		<span class="header-item">
		  <h1 class="title">
		        <strong><a href="/">cook-up</a></strong>
		  </h1>
		</span>
	</div>
	</div>
</header>


<div class="columns">
	<div class="column is-4">
	  <div class="box">
		<figure class="image is-4by3">
		  <img src=<%="#{@recipe.image_url}"%> alt="">
		</figure>
	  </div>
	  <div class="box ingredients">
	  	<h4 class="title is-4">Ingredients for <%= @recipe.servings %> serves</h3>
	  	<ul>
	  	<% @ingredients.each do |i| %>
		  <li><%= " #{'%g' % i[:quantity]} #{i[:unit]} #{i[:name]}" %></li> 
	  	<% end %>
	  	</ul>
	  </div>
	</div>
	<div class="column is-8">
	  <div class="box">
		<div class="container">
	  		<h3 class="title is-3 is-pulled-right"><%= @recipe.cook_time %> minutes</h3>
	  	</div>
		<div class="container">
	  		<h2 class="title is-2"><%= @recipe.title %></h2> 
	  	</div>
	  </div>
	  <div class="box">
		<div class="method">
			<%= raw(@recipe.method) %>
		</div>
	  </div>
	</div>
</div>